.image-container {
    position: relative;
  }
  
  .blurred-image {
    filter: blur(8px); /* Adjust the blur intensity as needed */
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    padding: 20px;
    border-radius: 5px;
  }
  
  .text-white {
    color: #ffffff; /* White text color */
  }
  